/* .user-registration-page .content-wrapper {
  background: white;
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border-left: 1px solid var(--primary-foreground);
} */

.user-registration-page .content-wrapper{
  @apply bg-white
}