.product-detail-page{
  @apply my-10
}

.product-detail-page .description{
  @apply text-accent
}

.product-detail-page .description .details .caption{
  @apply font-roboto text-base
}

.product-detail-page .description .details .value{
  @apply font-roboto text-base font-semibold
}


/* Container to position relative */
.product-detail-page .engraving-section .checkbox-container {
  @apply relative inline-block
}

/* Hide the default checkbox */
.product-detail-page .engraving-section .engraving-checkbox {
  @apply absolute hidden cursor-pointer
}

.product-detail-page .engraving-section .engraving-label{
  @apply text-base text-accent font-roboto font-semibold flex items-center
}
/* Create a custom checkbox */
.product-detail-page .engraving-section .engraving-label::before {
  content: '';
  display: inline-block;
  width: 18px; /* Customize the size */
  height: 18px; /* Customize the size */
  border: 2px solid #ccc; /* Customize the border */
  border-radius: 0px; /* Customize the border-radius */
  background-color: white; /* Customize the background */
  vertical-align: middle;
  margin-right: 8px; /* Space between checkbox and label text */
  transition: background-color 0.3s, border-color 0.3s;
}

/* Add a checkmark for the checked state */
.product-detail-page .engraving-section .engraving-checkbox:checked + .engraving-label::before {
  @apply bg-white border-primary
   /* Keep the background white */
  /* Customize the checked border color */
}

.product-detail-page .engraving-section .engraving-checkbox:checked + .engraving-label::after {
  content: '✔'; /* Checkmark character */
  color: #754b2f; /* Customize the checkmark color */
  position: absolute;
  left: 2px; /* Adjust position as needed */
  top: 1px; /* Adjust position as needed */
  font-size: 16px; /* Customize the checkmark size */
  
}

/* Hover effect for the label */
.product-detail-page .engraving-section .engraving-label:hover::before {
  @apply border-2 border-primary
}


